<p>
  <strong>f_role:</strong>
  <%= student.f_role %>
</p>
<p>
<%= link_to 'destroy Student', [student.teacher, student],
             method: :delete,
             data: { confirm: 'Are you sure?' } %>
</p>
