<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->
    <link rel="preload" as="image" href="/assets/Career/group.webp" media="(height: 500px)">
    <link rel="stylesheet" href="/assets/mathbox/careers.css" />
    <link rel="stylesheet" href="/assets/mathbox/custom.css">
    <link rel="stylesheet" href="/assets/mathbox/images.css">
    <link rel="stylesheet" href="/assets/mathbox/mathbox.css">
    <link href="/assets/mathbox/stylesheet.css" rel="stylesheet">

   <!--  <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script> -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>

   <!--  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    /> -->

<!--     <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>Static Template</title>
  </head>

  <body> -->
<style type="text/css">
  .menu-header-parent{
    display: none;
  }

      .mathbox-footer-new{
      display:none;
       }


  .fade{
      opacity: 1;
      transition: opacity .15s linear !important
    }

      input[type="file"]{
        height:56px;
  }

    input[type="file"]::-webkit-file-upload-button{
        height:56px;
  }

  #desc ul{
    list-style-type: unset;
  }
  .awardImg {
    max-height: 170px;
  }

  
</style>
<!-- <div class="container mathbox-header-new" style="max-width:100%;padding-left: 40px;padding-right: 40px;">
            <nav class="custom-nav navbar navbar-expand-lg navbar-light sticky-top" style="display: flex; align-items: baseline;">
                <a href="/">
                    <span class="navbar-brand">
                        <img src="/assets/mathbox/media/logo.svg" alt="Logo" class="img-fluid">
                    </span>
                </a>
                <button class="navbar-toggler" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse toggle-custom-menu">
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown programs-toggle">
                            <a class="nav-link dropdown-toggle" href="/online-math-tutoring-program">Our Program</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About Us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link become-teacher-link btn-theme-secondary" href="/mathbox/become_teacher">Become a Teacher</a>
                        </li>

                        <li class="d-none d-sm-block">
                            <a href="/mathbox/cart">
                            <div class="notification-wrapper">
                                <div class="notification-icon">
                                    <img src="/assets/mathbox/media/notification-icon.png" class="">
                                </div>
                                <div class="notification-count">
                                    0
                                </div>
                            </div>
</a>                        </li>
                        <li class="nav-item sign-in-wrapper">
                            <a class="nav-link btn-theme-primary" href="/user/login">Sign In</a>
                        </li>
                        <li class="nav-item news-head-title">
                            <a class="nav-link" href="/about">In the News</a>
                        </li>
                        <li class="nav-item contact-us-title">
                            <a class="nav-link" href="/contact_us">Contact Us</a>
                        </li>
                    </ul>
                    <span class="nav-close">
                        <img src="/assets/mathbox/media/close-menu-icon.png" alt="close menu" class="">
                    </span>
                </div>
                <a href="/mathbox/cart">
                <div class="d-block d-sm-none notification-wrapper">
                    <div class="notification-icon"><img src="/assets/mathbox/media/notification-icon.png" class=""></div>
                    <div class="notification-count">
                        0
                    </div>
                </div>
</a>            </nav>
        </div> -->
    <section id="main">
      <div class="sec-title centered">
        <h2 class="text-center">Who We Are</h2>
        <!-- <button onclick="redirect(`link`)" type="button" class="btn btn-lg btn-primary d-block m-auto my-3">Work With
        US</button> -->
        <div class="textover" height="500px" width="100%">
          <img src="/assets/Career/group.webp" width="100%" />
        </div>
      </div>
      <section class="team-page-section text-center">
        <div class="founders">
          <div class="sec-title centered pt-2">
            <h2>Our Founders</h2>
          </div>
          <div
            class="d-flex flex-column flex-md-row col-11 m-auto justify-content-around"
          >
            <div class="col-12 col-md-5">
              <img
                src="/assets/Career/avneet.webp"
                alt="avneet"
                class="mb-2 f-images"
                loading="lazy"
              />
              <h5 class="mx-2" style="color: #183bcc; font-weight: bold">
                Ms. Avneet Makkar
              </h5>
              <p as="h6" class="mx-0" style="font-weight: bold">
                Founder & CEO
              </p>
            </div>
            <div class="col-12 col-md-5">
              <img
                src="/assets/Career/Vivek.webp"
                alt="vivek"
                class="mb-2 f-images"
                style="border-radius: 20px"
                loading="lazy"
              />
              <h5 class="mx-2" style="color: #183bcc; font-weight: bold">
                Mr. Vivek Shaurya
              </h5>
              <p as="h6" class="mx-0" style="font-weight: bold">
                Managing Director & Chief Experience Officer (Co-Founder)
              </p>
            </div>
          </div>
        </div>
        <div class="container">
          <!-- Sec Title -->
          <!-- <div class="sec-title centered">
            <h2>The beGalileo Team</h2>
          </div> -->

          <div class="row clearfix"></div>
        </div>
        <div style="background-color: #f5f6fb;padding-bottom: 30px;">
          <div class="sec-title centered pt-2">
            <h2>Our Awards</h2>
          </div>
          <div class="awards d-flex flex-column flex-md-row col-11 m-auto gap-md-2 justify-content-center">
        <div class="p-2 award-card" style="">
          <a href="https://www.apac-insider.com/winners-list/?award=16535-2022" target="_blank">
            <img src="/assets/mathbox/media/stem_accredited.webp" alt="award" width=100% height=100% loading="lazy"
              class="awardImg" />
          </a>
        </div>
        <div class="p-2 award-card mt-3 mt-md-0" style="">
          <a href="https://www.apac-insider.com/winners-list/?award=16535-2022" target="_blank">
            <img src="/assets/Career/apac.webp" alt="award" width=100% height=100% loading="lazy" class="awardImg" />
          </a>
        </div>
        <div class="p-2 award-card mt-3 mt-md-0" style="">
          <a href="https://www.education2conf.com/past-awardees-usa-winter-2022" target="_blank">
            <img src="/assets/Career/Education-Badge_beGalileo.webp" alt="award" width=100% height=100% loading="lazy"
              style="width: 80%;" class="awardImg" />
          </a>
        </div>
      </div>
          <div class="sec-title centered pt-2">
            <h2>Our Investors</h2>
          </div>
          
          <div
            class="partners d-flex flex-column flex-md-row col-11 m-auto gap-md-2 justify-content-between"
          >
            <div class="col-12 col-md-4 col-lg-3 mb-3 p-2 investors-card">
              <img
                src="/assets/Career/navneet.webp"
                alt="partner1"
                height="225px"
                width="100%"
                loading="lazy"
              />
            </div>
            <div class="col-12 col-md-4 col-lg-3 mb-3 p-2 investors-card">
              <img
                src="/assets/Career/mangels.webp"
                alt="partner2"
                height="225px"
                width="100%"
                loading="lazy"
              />
            </div>
            <div class="col-12 col-md-4 col-lg-3 mb-3 p-2 investors-card">
              <img
                src="/assets/Career/nitish.webp"
                alt="partner3"
                height="225px"
                width="100%"
                loading="lazy"
              />
            </div>
          </div>
          <div class="sec-title centered">
            <h2>Our Partners</h2>
          </div>
          <div
            class="investors d-flex flex-column flex-md-row col-11 m-auto gap-1 gap-1 justify-content-between"
          >
            <div class="col-10 col-md-3 mx-auto mb-3 p-2 partners-card">
              <img
                src="/assets/Career/Amazon logo.webp"
                alt="partner1"
                height="100px"
                width="100%"
                loading="lazy"
              />
            </div>
            <div class="col-10 col-md-3 mx-auto mb-3 p-2 partners-card">
              <img
                src="/assets/Career/microsoft.webp"
                alt="partner2"
                height="100px"
                width="100%"
                loading="lazy"
              />
            </div>
            <div class="col-10 col-md-3 mx-auto mb-3 p-2 partners-card">
              <img
                src="/assets/Career/thunkabl.webp"
                alt="partner3"
                height="100px"
                width="100%"
                loading="lazy"
              />
            </div>
          </div>
        </div>
      </section>
      <div class="sec-title centered">
        <h2 class="text-center fw-bold">The beGalileo Team & Our Culture</h2>
      </div>
      <div class="gallary-container container pb-5">
        <div>
          <img src="/assets/Career/Artboard 1.webp" loading="lazy" />
        </div>

        <div class="vertical">
          <img src="/assets/Career/Artboard 14.webp" loading="lazy" />
        </div>

        <div class="horizontal">
          <img src="/assets/Career/Artboard 10.webp" loading="lazy" />
        </div>

        <div>
          <img src="/assets/Career/Artboard 2.webp" loading="lazy" />
        </div>

        <div>
          <img src="/assets/Career/Artboard 3.webp" loading="lazy" />
        </div>

        <div class="big">
          <img src="/assets/Career/Artboard 12.webp" loading="lazy" />
        </div>

        <div>
          <img src="/assets/Career/Artboard 4.webp" loading="lazy" />
        </div>

        <div class="vertical">
          <img src="/assets/Career/Artboard 15.webp" loading="lazy" />
        </div>

        <div>
          <img src="/assets/Career/Artboard 5.webp" loading="lazy" />
        </div>

        <div class="horizontal">
          <img src="/assets/Career/Artboard 11.webp" loading="lazy" />
        </div>

        <div>
          <img src="/assets/Career/Artboard 6.webp" loading="lazy" />
        </div>

        <div class="big">
          <img src="/assets/Career/Artboard 13.webp" loading="lazy" />
        </div>

        <div>
          <img src="/assets/Career/Artboard 7.webp" loading="lazy" />
        </div>

        <!-- <div class="horizontal">
          <img src="https://source.unsplash.com/800x600/?sig=186" />
        </div> -->

        <div>
          <img src="/assets/Career/Artboard 8.webp" loading="lazy" />
        </div>

        <!-- <div class="big">
          <img src="https://source.unsplash.com/800x800/?sig=157" />
        </div>

        <div>
          <img src="https://source.unsplash.com/600x600/?sig=287" />
        </div>

        <div class="vertical">
          <img src="https://source.unsplash.com/600x800/?sig=307" />
        </div> -->
      </div>
      <div
        style="background: linear-gradient(180deg, #ddf3fc 0%, #e1eafc 100%)"
        class="pb-3"
      >
        <h2 class="text-center fw-bold pt-4">What we do</h2>
        <div class="container text-center">
          <p as="h4" style="color: #183bcc; font-weight: bold" class="my-2">
            Various technologies We work on & academic areas
          </p>
          <div
            class="d-flex flex-row flex-wrap col-12 col-lg-11 m-auto gap-md-2 w-100 justify-content-evenly"
          >
            <div class="col-8 my-3 col-md-4 col-lg-3 p-2 rounded-3 tech-card">
              <div class="w-100 w-md-75 m-auto">
                <img
                  src="/assets/Career/1-03.webp"
                  id="techimg"
                  alt="tech"
                  height="200px"
                  width="100%"
                  loading="lazy"
                />
              </div>
              <p class="font-weight-bold mt-3 mb-1 t-name">Mobile</p>
            </div>

            <div class="col-8 my-3 col-md-4 col-lg-3 p-2 rounded-3 tech-card">
              <div class="w-100 w-md-75 m-auto">
                <img
                  src="/assets/Career/1-05.webp"
                  alt="tech"
                  height="200px"
                  width="100%"
                  loading="lazy"
                />
              </div>
              <p class="font-weight-bold mt-3 mb-1 t-name">AI/ML</p>
            </div>
            <div class="col-8 my-3 col-md-4 col-lg-3 p-2 rounded-3 tech-card">
              <div class="w-100 w-md-75 m-auto">
                <img
                  src="/assets/Career/1-06.webp"
                  alt="tech"
                  height="200px"
                  width="100%"
                  loading="lazy"
                />
              </div>
              <p class="font-weight-bold mt-3 mb-1 t-name">Backend</p>
            </div>
            <div class="col-8 my-3 col-md-4 col-lg-3 p-2 rounded-3 tech-card">
              <div class="w-100 w-md-75 m-auto">
                <img
                  src="/assets/Career/1-02.webp"
                  alt="tech"
                  height="200px"
                  width="100%"
                  loading="lazy"
                />
              </div>
              <p class="font-weight-bold mt-3 mb-1 t-name">Database</p>
            </div>
            <div class="col-8 my-3 col-md-4 col-lg-3 p-2 rounded-3 tech-card">
              <div class="w-100 w-md-75 m-auto">
                <img
                  src="/assets/Career/1-04.webp"
                  alt="tech"
                  height="200px"
                  width="100%"
                  loading="lazy"
                />
              </div>
              <p class="font-weight-bold mt-3 mb-1 t-name">Alexa</p>
            </div>
            <div class="col-8 my-3 col-md-4 col-lg-3 p-2 rounded-3 tech-card">
              <div class="w-100 w-md-75 m-auto">
                <img
                  src="/assets/Career/1-01.webp"
                  alt="tech"
                  height="200px"
                  width="100%"
                  loading="lazy"
                />
              </div>
              <p class="font-weight-bold mt-3 mb-1 t-name">
                AWS & other technologies
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="job-section" class="col-12 mx-auto py-3">
      <!-- <div> -->
      <button class="mybtn d-block m-auto my-3" id="workBtn">
        Work With Us
      </button>
      <!-- </div> -->

      <div id="job-listing" class="d-none col-10 m-auto">
        <!-- <h3 class=" text-center">Current Openings</h3> -->
        <h6
          class="text-center"
          style="font-weight: bold; font-size: 14px; color: #233584"
        >
          Join Our Team
        </h6>
        <p class="text-center" style="font-size: 20px; color: #676971">
          Browse through our departments to find your fit job
        </p>
        <div
          class="d-flex col-11 col-md-9 m-auto flex-column flex-md-row gap-2 text-center p-2 w-100 mb-3 justify-content-center align-items-center"
          style="background: aliceblue"
        >
          <div class="mb-3 mb-md-0">
            <input
              type="text"
              id="input-search"
              class="form-control"
              placeholder="Search Keyword"
              onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))"
            />
          </div>
          <div class="mb-3 mb-md-0">
            <%= select_tag :department_id, options_from_collection_for_select(@departments, :id, :name), {:prompt =>  "Select Deparment",:id=>"job_department", :class=>"form-select"} %>
            <!-- <select
              class="form-select w-100 w-md-75"
              aria-label="Default select example"
            >
              <option>Select Department</option>
              <option value="technology">technology</option>
              <option value="academic">Academic</option>
              <option value="infrastructure">Infrastructure</option>
              <option value="admin">Admin</option>
              <option value="sales">Sales/Marketing</option>
            </select> -->
          </div>
          <div class="mb-3 mb-md-0">
            <button class="btn" id="searchBtn">Search Job</button>
          </div>
          
        </div>
        <div class="mb-3 mb-md-0" id="searchErr" style="display:none;text-align: center;">
            <p style="font-size: 12px;font-weight: bold;color: red;">Please enter keywords or select any department</p>
        </div>

        <div
          id="search-result"
          class="d-flex flex-row flex-wrap col-12 m-auto justify-content-between w-100"
        >
          <!-- <p class="notresult d-none">No Results Found</p> -->
          <!-- <div class="job d-flex border border-warning p-2">
          <div class="col-7">
            <h3>Job Title</h3>
            <p>Full Time</p>
          </div>
          <div class="col-5 d-flex justify-content-center align-items-center">
            <button class="btn btn-info btn-rounded">Apply for job</button>
          </div>
        </div> -->
        </div>
      </div>
    </div>
    <div id="keyInfo" class="pt-4 pb-5" style="background-color: #182b88">
      <h2 class="text-center fw-bold pt-4 text-white" style="font-size:24px" >Key information</h2>
      <div class="container text-center mt-2 mb-4">
        <h4
          style="color: #4dc591; font-weight: bold; font-size: 18px"
          class="my-2"
        >
          Reach to us
        </h4>
        <div
          class="d-flex flex-row flex-wrap col-12 col-md-11 m-auto justify-content-center justify-content-md-evenly gap-3 w-100 mt-2"
          style="font-weight: bold"
        >
          <div>
            <p class="text-white hrText">For references & background checks</p>
            <a
              href="mailto: HRD@carveniche.com"
              class="hrA"
              >HRD@carveniche.com</a
            >
          </div>
          <div>
            <p class="text-white hrText">
              for general hiring & career related threads
            </p>
            <a
              href="mailto: spsingh@carveniche.com"
              class="hrA"
              >spsingh@carveniche.com</a
            >
          </div>
          <div>
            <p class="text-white hrText">for sending resumes on mail</p>
            <a
              href="mailto: careers@carveniche.com"
              class="hrA"
              >careers@carveniche.com</a
            >
          </div>
        </div>
      </div>
     
    </div>
    <div
      class="modal fade w-100"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <input type=hidden id="jobId">
          <div class="modal-header py-1">
            <h5
              class="modal-title"
              id="exampleModalLabel"
            >
              Job Application
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div id="jd">
              <h4 id="jt"></h4>
              <div class="d-flex gap-2">
                <p class="jd-head">Department</p>
                <p id="department">-</p>
              </div>
              <div class="d-flex gap-2">
                <p class="jd-head">Job Type</p>
                <p id="job-type">-</p>
              </div>
              <div class="d-flex gap-2 expDiv">
                <p class="jd-head">Experience</p>
                <p id="exp">-</p>
              </div>
              <div class="d-flex gap-2">
                <p class="jd-head">Description</p>
                <p id="desc">-</p>
              </div>
              <p class="jd-head">Enter Your Details</p>
            </div>
            <div class="container-fluid mb-4">
              <form
                action="index.html"
                method="POST"
                target="_blank"
                enctype="multipart/form-data"
                class="d-flex flex-column"
                id="application"
              >
                <input
                  autocomplete="off"
                  id="name"
                  class="mt-4 form-control"
                  type="text"
                  name="name"
                  placeholder="Your Full Name"
                  required
                  maxlength="35"
                  onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))"
                />

                <input
                  autocomplete="off"
                  id="email"
                  class="form-control"
                  type="email"
                  name="email"
                  placeholder="Your Email"
                  required
                />

                <input
                  autocomplete="off"
                  id="experience"
                  class="form-control"
                  type="number"
                  name="experience"
                  placeholder="Your Working Experience(years)"
                  required
                />

                <input
                  autocomplete="off"
                  class="form-control"
                  type="file"
                  id="pdf"
                  name="resume"
                  placeholder="Yout Resume"
                  required
                  accept=".doc,.docx,.pdf"
                />
                <span class="invalid-feedback"
                  >File Size Exceeded ! Upload file below 5MB</span
                >
                <span
                  class="invalid-feedback2 text-danger"
                  style="display: none"
                  >Invalid file type</span
                >

                <textarea
                  autocomplete="off"
                  class="form-control"
                  name="randomtext"
                  id="text"
                  maxlength="200"
                  rows="5"
                  placeholder="Why do you want to join with us ?"
                  required
                ></textarea>
                <span class="label label-default" id="count_message"></span>

                <button class="mybtn mt-4 form-control" id="btn" type="submit" 
                style="background: linear-gradient(270deg, #2fb8bb 0%, #97da92 100%);
                      box-shadow: 2px 4px 8px rgba(3,128,155,0.2);
                      color: #fff;
                      font-weight: bold;
                      border: none;
                      font-size: 16px;
                      font-weight: 500;
                      color: #fff;
                      font-family: 'Montserrat';
                      padding: 16px 32px;
                      border-radius: 44px;
                      margin: 20px auto 0 auto;
                      cursor: pointer;
                      height: auto;
                      width: auto;"
                >
                  Apply For Job
                </button>
              </form>
            </div>
          </div>
          <div class="modal-footer py-1">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal jobModal fade w-100" tabindex="-1" role="dialog" id="jobModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
        <h5 class="modal-title">Application Status</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          <div class="modal-body">
            <p class="jobModalText"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary modalClose" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


<script type="text/javascript">
  var text_max = 200;

  document.getElementById("count_message").innerText = `0 / ${text_max}`;

  let textCount = document.getElementById("text");

  textCount.addEventListener("keyup", function (e) {
    let textLength = e.target.value.length;

    document.getElementById("count_message").innerText = `${
      text_max - textLength
    } / ${text_max}`;
  });

  document.getElementById("pdf").addEventListener("change", function () {
    // console.log(
    //   "This file size is: " + this.files[0].size / 1024 / 1024 + "MiB"
    // );
    let filePath = document.getElementById("pdf").value;
    console.log("file", this.files);
    var allowedExtensions = /(\.doc|\.docx|\.pdf|\.wpd)$/i;

    if (!allowedExtensions.exec(filePath)) {
      // alert("Invalid file type");
      document.querySelector(".invalid-feedback2").style.display = "block";
      document.getElementById("pdf").value = "";
      return false;
    } else {
      document.querySelector(".invalid-feedback2").style.display = "none";
    }

    let fileSize = this.files[0].size / 1024 / 1024;

    if (fileSize > 5) {
      document.querySelector(".invalid-feedback").style.display = "block";
    } else {
      document.querySelector(".invalid-feedback").style.display = "none";
    }
  });

  // let teamDetails = [
  //   {
  //     name: "team1",
  //     role: "Senior Curriculam Developer",
  //     img: "/assets/Career/Vivek.jpg",
  //     linkedIn: "",
  //     twitter: "",
  //   },

  //   {
  //     name: "team2",
  //     role: "Senior Content Developer",
  //     img: "/assets/Career/Vivek.jpg",
  //     linkedIn: "",
  //     twitter: "",
  //   },
  //   {
  //     name: "team3",
  //     role: "Senior App Developer",
  //     img: "/assets/Career/Vivek.jpg",
  //     linkedIn: "",
  //     twitter: "",
  //   },
  //   {
  //     name: "team4",
  //     role: "Senior Graphic Designer",
  //     img: "/assets/Career/Vivek.jpg",
  //     linkedIn: "",
  //     twitter: "",
  //   },
  //   {
  //     name: "team5",
  //     role: "Senior HR Manager",
  //     img: "/assets/Career/Vivek.jpg",
  //     linkedIn: "",
  //     twitter: "",
  //   },
  //   {
  //     name: "team6",
  //     role: "Senior Account Manager",
  //     img: "/assets/Career/Vivek.jpg",
  //     linkedIn: "",
  //     twitter: "",
  //   },
  // ];

  // let teamRow = document.querySelector(".row");
  // console.log(teamRow);

  // teamDetails.forEach((elem) => {
  //   let card = `
  //     <div class="team-block col-lg-4 col-md-6 col-sm-12">
  //       <div
  //         class="inner-box wow fadeInLeft"
  //         data-wow-delay="0ms"
  //         data-wow-duration="1500ms"
  //       >
  //         <ul class="social-icons">
  //           <li>
  //             <a href="#">
  //               <i class="fa fa-twitter"></i>
  //             </a>
  //           </li>
  //           <li>
  //             <a href="#">
  //               <i class="fa fa-skype"></i>
  //             </a>
  //           </li>

  //           <li>
  //             <a href="#">
  //               <i class="fa fa-linkedin"></i>
  //             </a>
  //           </li>
  //         </ul>
  //         <div class="image">
  //             <img src="/assets/Career/Vivek.jpg" alt="" />
  //         </div>
  //         <div class="lower-content">
  //           <h3 class="text-capitalize">
  //             ${elem.name}
  //           </h3>
  //           <div class="designation text-capitalize">${elem.role}</div>
  //         </div>
  //       </div>
  //     </div>
  //   `;

  //   teamRow.innerHTML += card;
  // });

    let workBtn = document.getElementById("workBtn")
    workBtn.addEventListener("click",function(){
      console.log("work btn clicked")
      let jobs = document.getElementById("job-listing");
      jobs.classList.remove("d-none");
    })

  // function redirect(txt) {
  //   console.log("top button", txt);
  //   if (txt) {
  //     let jobs = document.getElementById("job-listing");
  //     jobs.classList.remove("d-none");
  //     location.href = "#job-listing";
  //   } else {
  //       let jobs = document.getElementById("job-listing");
  //     jobs.classList.remove("d-none");
  //   }
  // }

  let searchBtn = document.getElementById("searchBtn");
  let bigCities;

  searchBtn.addEventListener("click", search);

  // fetch("/assets/Career/React native.json")
  //     .then(res => res.json())
  //     .then(data=>{
  //       console.log("img",data)
  //       document.getElementById("techimg").src = data.assets[0].p
  //     })
  let jobsArr
  function search() {
    console.log("btn click", document.querySelector(".form-select").value);
    let department_id = document.querySelector(".form-select").value;
    let keyword = document.querySelector("#input-search").value

    if(department_id == "" && keyword == ""){
      // alert("Please enter valid input")
      $("#searchErr").show()
      return
    }
    
    $("#searchErr").hide()

    $.ajax({
            type: 'get',
            url: '/careers/show_job_details',
            data: {
                department_id: department_id,
                keyword:keyword
            },
            success: function(data) {
              console.log(data)
              let jobDiv = document.getElementById("search-result");
              jobDiv.innerHTML = "";

              if (data.status == 0) {
                // document.querySelector(".notresult").classList.remove("d-none")
                jobDiv.innerHTML = "<p class='notResult'>Selected job posting not available. Please check after some time !</p>";
                return;
              }

              jobsArr = data.details

              data.details.forEach((elem,index) => {
                let job = `<div class="job d-flex">
                              <div class="col-8 col-md-7 col-lg-9">
                                <h5 class="jobTitle">${elem.job_title}</h5>
                                <p class="m-0 fw-bold jobType">${elem.job_type}</p>
                              </div>
                              <div class="col-4 col-md-5 col-lg-3 d-flex justify-content-center align-items-center">
                                <button class="applyBtn" onclick='OpenBootstrapPopup(${index})' >Apply</button>
                              </div>
                            </div>`;
                jobDiv.innerHTML += job;
              });
            },
            error: function (error) {
                console.log(error)
              }
        });
  }

  function OpenBootstrapPopup(index) {
    let elem = jobsArr[index]
    console.log("Open", elem);
    $("#exampleModal").modal("show");

    $("#name").val("")
     $("#email").val("")
      $("#experience").val("")
       $("#text").val("")
       $("#pdf").val("")

    $("#jt").text(elem.job_title);
    $("#department").text(`- ${elem.job_department}`);
    $("#job-type").text(`- ${elem.job_type}`);

      if(elem.job_experience == null || !elem.job_experience){
        document.querySelector(".expDiv").classList.add("d-none")
      }else{
        document.querySelector(".expDiv").classList.remove("d-none")
        $("#exp").text(`- ${elem.job_experience} years`)
      }

    $("#desc").html(`- ${elem.job_description}`);
    $("#jobId").val(elem.job_id)
  }

  const form = document.getElementById("application");

  form.addEventListener("submit", (event) => {
    // handle the form data
    event.preventDefault();
    let email = $("#email").val();


    // ValidateEmail(email)

    var mailformat = "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$";
    if (email.match(mailformat)) {
      let name = $("#name").val();
      let exp = $("#experience").val();
      let pdf = $("#pdf").prop("files")[0];
      let txt = $("#text").val();
      let jobId = $("#jobId").val()

      let candidateData = {
        fullName: name,
        email,
        experience: exp,
        resume: pdf,
        text: txt,
        jobtitle: $("#jt")[0].innerText,
      };

      console.log("data", candidateData);
      $("#exampleModal").modal("hide");

      var formData = new FormData();
      formData.append("name",name)
      formData.append("email",email)
      formData.append("experience",exp)
      formData.append("resume_attachment",$("#pdf").prop("files")[0])
      formData.append("comments",txt)
      formData.append("job_id",jobId)

      
      $.ajax({
              type: 'post',
              url: '/careers/create_career_user',
              contentType: false,
            processData: false,
            data:formData, 
              success: function(data) {
                console.log(data)
                if(data.status == true){
                  $(".jobModalText").text("Your application has been submitted successfully")
                $("#jobModal").modal("show")
              }else{
                $(".jobModalText").text("Your application has not submitted. Please try again !")
                $("#jobModal").modal("show")
              }
                
              },
              error:function(error){
                console.log(error)
                
              }
            });
    } else {
      alert("Enter valid email")
      return false;
    }

    
  });

  $(".modalClose").on("click",()=>{
    $("#jobModal").hide()
  })
  
</script>
